.body-wrapper{
	background-color: #ff4d4d;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	font-size: 4em;
	align-content: center;
	text-align: center;
}
.qk-navbar{
	position: fixed;
	top: 0;
	height: 7%;
	width: 100%;
	background-color: white;
}
nav{
	z-index: 1000;
}
qk-page{
	top: 10%;
}