.body-wrapper{
	background-color: #ff4d4d;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	font-size: 4em;
	align-content: center;
	text-align: center;
}
nav{
	z-index: 1000;
}
qk-page{
	top: 75px;
}
.qk-navbar{
	font-size: .5em;
}
.qk-navhead{
	font-size: .7em;
}
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
a{
	cursor: pointer;
}